<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h1 class="formulario_titulo">{{ title }}</h1>
    <div class="form-field">
      <label class="form-field_label" for="valor">Valor </label>
      <input class="form-field_input" name="valor" type="text" [(ngModel)]="valor" />
    </div>
    <div class="form-field">
      <label class="form-field_label" for="destino">Destino </label>
      <input class="form-field_input" name="destino" type="text" [(ngModel)]="destino" />
    </div>
    <div class="botao-wrapper">
      <button class="botao" type="submit">Transferir</button>
    </div>
  </form>
</section>
